
header{
    background-color: teal;
}

body{
    background-color: teal;
}
.card {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); 
}

/* Add to your existing styles */
.search-bar {
    width: 30%; /* Adjust width as needed */
    margin-bottom: 1rem;
    align-items: center;
}
